<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIStoryboardVersion</key>
	<integer>1</integer>
	<key>UIViewControllerIdentifiersToNibNames</key>
	<dict>
		<key>HelpDocument</key>
		<string>HelpDocument</string>
		<key>HelpFace</key>
		<string>HelpFace</string>
		<key>HelpFullVideo</key>
		<string>HelpFullVideo</string>
		<key>ICEkycHelpFace</key>
		<string>ICEkycHelpFace</string>
	</dict>
</dict>
</plist>
