<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ESPay</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to camera to scan QR codes for payments</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This app uses Face ID to securely authenticate and authorize transactions</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app requires access to your location to provide you with location-based services and features even when the app is in the background.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Thís app requires access to your location to provide you with location-based services and features when using the app.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires access to your location to provide you with location-based services and features when using the app.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to your microphone for voice-to-text feature to create invoices quickly</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to upload identity documents for account verification and select images for profile customization</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app uses speech recognition to convert your voice into text for faster invoice creation</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>FZ Poppins-Black.ttf</string>
		<string>FZ Poppins-BlackItalic.ttf</string>
		<string>FZ Poppins-Bold.ttf</string>
		<string>FZ Poppins-BoldItalic.ttf</string>
		<string>FZ Poppins-ExtraBold.ttf</string>
		<string>FZ Poppins-ExtraBoldItalic.ttf</string>
		<string>FZ Poppins-ExtraLight.ttf</string>
		<string>FZ Poppins-ExtraLightItalic.ttf</string>
		<string>FZ Poppins-Italic.ttf</string>
		<string>FZ Poppins-Light.ttf</string>
		<string>FZ Poppins-LightItalic.ttf</string>
		<string>FZ Poppins-Medium.ttf</string>
		<string>FZ Poppins-MediumItalic.ttf</string>
		<string>FZ Poppins-Regular.ttf</string>
		<string>FZ Poppins-SemiBold.ttf</string>
		<string>FZ Poppins-SemiBoldItalic.ttf</string>
		<string>FZ Poppins-Thin.ttf</string>
		<string>FZ Poppins-ThinItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
