<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Unitree</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
		<string>_https._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Ứng dụng cần truy cập máy ảnh để chụp ảnh đại diện và quét mã QR.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Ứng dụng cần sử dụng FaceID để đăng nhập nhanh và bảo mật tài khoản.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập mạng cục bộ để tìm thông tin WiFi hiện tại.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Ứng dụng cần quyền vị trí để xác định thông tin WiFi và kết nối với thiết bị.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>FZ Poppins-Black.ttf</string>
		<string>FZ Poppins-BlackItalic.ttf</string>
		<string>FZ Poppins-Bold.ttf</string>
		<string>FZ Poppins-BoldItalic.ttf</string>
		<string>FZ Poppins-ExtraBold.ttf</string>
		<string>FZ Poppins-ExtraBoldItalic.ttf</string>
		<string>FZ Poppins-ExtraLight.ttf</string>
		<string>FZ Poppins-ExtraLightItalic.ttf</string>
		<string>FZ Poppins-Italic.ttf</string>
		<string>FZ Poppins-Light.ttf</string>
		<string>FZ Poppins-LightItalic.ttf</string>
		<string>FZ Poppins-Medium.ttf</string>
		<string>FZ Poppins-MediumItalic.ttf</string>
		<string>FZ Poppins-Regular.ttf</string>
		<string>FZ Poppins-SemiBold.ttf</string>
		<string>FZ Poppins-SemiBoldItalic.ttf</string>
		<string>FZ Poppins-Thin.ttf</string>
		<string>FZ Poppins-ThinItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
